body{margin: 0; padding: 0; }
.parent{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #48beff;
}
.child{
    display: flex;
    border-radius: 1.5vw;
    height: 5vh;
    width: 85vw;
    border: solid;
    border-color: #3DFAFF;
    margin: auto;
}
.bar-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    border-radius: 1vw 0 0 1vw;
    background-color: #43C59E;
}
.bar-price-wrapper{
    background-color: #43C59E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1vw;
}
.bar-price{
    display: flex;
    width: 8vw;
    justify-content: center;
    align-items: center;
}
.bar-math{
    display: flex;
    width: 25vw;
    border-radius: 1vw;
    background-color: #43C59E;
}
.bar-number{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
}
.bar-button-add{
    width: 38%;
}
.bar-button-substract{
    width: 38%;
}
.bar-result{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    border-radius: 1vw;
   
}
.bar-result-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.total-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5vh;
    height: 2.5vh;
    width: 20vw;
    border-radius: 1vw;
    background-color: #3d7068;
}